target/
/documents
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# roadhog-api-doc ignore
/src/utils/request-temp.js
_roadhog-api-doc

# production
/dist
**/.vscode

# misc
.DS_Store
npm-debug.log*
yarn-error.log

/coverage
*bak

# visual studio code
.history
*.log
functions/*
.temp/**

# umi
.umi
.umi-production

# screenshot
screenshot
.firebase
.eslintcache

### Node.js
node_modules/
node/
build/
dist/

/ui/src/types/service.ts